version: 2
jobs:
    build:
        docker:
            - image: circleci/node:8.9.4
        steps:
            - checkout
            - run: echo "Hello World"
            - run: npm install
            - run: npm lint
            - run: npm test
